/* set variable for size multiplier applied to screen size */
:root {
    --header:222, 188, 144;
    --gradientOne:222,184,135;
    /* --gradientTwo:189, 148, 96; */
    --gradientTwo:0, 0, 0;
    --gradientTwo:156, 112, 56;
}

body {
    background-color: rgb(var(--gradientTwo));
    margin:0;
    padding-top:5vh;
    padding-bottom: 5vh;
}


canvas{
    display:block;
}

#loader{
    position: absolute;
    color:white;
    background-color: rgba(0,0,0,1);
    top: 0;
    width:100%;
    height:100%;
    display:grid;
    justify-items: center;
    align-items:center;
}

.scene{
    width:100%;
    height: calc(100vw * 0.5625);
    max-height: 90vh;
    margin:auto;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background: '#70bg32';
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( rgb(var(--gradientOne)), rgb(var(--gradientTwo))); 
    background: -moz-linear-gradient( rgb(var(--gradientOne)), rgb(var(--gradientTwo)));  
    background: -ms-linear-gradient( rgb(var(--gradientOne)), rgb(var(--gradientTwo))); 
    background: -o-linear-gradient( rgb(var(--gradientOne)), rgb(var(--gradientTwo))); 
    background: linear-gradient(rgb(var(--gradientTwo))0%,rgb(var(--gradientOne)) 4%, rgb(var(--gradientOne)) 50%, rgb(var(--gradientTwo))); 
}

button {
    color:white;
    background-color: black;
    border:white solid 1px;
    padding:1.5rem 3rem;
    border-radius: 0.3rem;
}