/* set variable for size multiplier applied to screen size */
:root {
    --header:222, 188, 144;
    --gradientOne:86, 130, 130;
    /* --gradientTwo:189, 148, 96; */
    /* --gradientTwo:0, 0, 0; */
    /* --gradientTwo:156, 112, 56; */
    --gradientTwo:38, 102, 102;
}

body {
    display:block;
    background-color: rgb(var(--gradientTwo));
    margin:0;
}


canvas{
    display:block;
}

#loader{
    position: absolute;
    color:white;
    background-color: rgba(0,0,0,1);
    top: 0;
    width:100%;
    height:100%;
    display:grid;
    justify-items: center;
    align-items:center;
}
#infoBar{
    position: relative;
    padding: 10px 1vh;
    color:white;
    background-color: rgba(20,20,20,0.1);
    top: 0;
    font-size:1.5em;
    /* width:98.7vw; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items:center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#scoreDisplay{
    color:white;
}
#music{
    color:white;
    position:relative;
    top:0.2em;
    margin:0.5rem;
    height: 25px;
    width: 25px;
    background-color:white;
}


.scene{
    display:block;
    width:100%;
    height: calc(100vw * 0.5625);
    max-height: 90vh;
    margin:auto;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background: '#70bg32';
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( rgb(var(--gradientOne)), rgb(var(--gradientTwo))); 
    background: -moz-linear-gradient( rgb(var(--gradientOne)), rgb(var(--gradientTwo)));  
    background: -ms-linear-gradient( rgb(var(--gradientOne)), rgb(var(--gradientTwo))); 
    background: -o-linear-gradient( rgb(var(--gradientOne)), rgb(var(--gradientTwo))); 
    background: linear-gradient(rgb(var(--gradientTwo))0%,rgb(var(--gradientOne)) 4%, rgb(var(--gradientOne)) 50%, rgb(var(--gradientTwo))); 
}

button {
    color:white;
    background-color: black;
    border:white solid 1px;
    padding:1.5rem 3rem;
    border-radius: 0.3rem;
}